 header{
    height: 60px;
    background-color: rgba(66,66,66,1);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  header img{
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
   /* border-radius: 20px; */
  }
  nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 15px;
    /*background-color: darkblue;*/
    padding: 10px;
  }
  header nav button{
    grid-row-start: 2;
    grid-row-end: 3;
    color: black;
    font-size: 1.7em;
    background-color: white;
    border-radius: 20px;
  }
body {
        background-image: url("../background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

.main{

        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        border-radius: 5px;

}


.form{

background-color: rgba(66,66,66,1);;
display: flex;
align-items: center;
justify-content: center;
margin-right: 30%;
margin-left: 35%;
margin-top: 10%;
height: 400px;
width: 400px;
border-radius: 15px;

}
.form-control {
    color: #455980 !important;
    font-size: 14px !important;
    font-family: "Rubik", sans-serif !important;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  .form-control[type="file"] {
    overflow: hidden;
  }


  .ecrituresform{
    color: black;
    opacity: none;
  }